@model IEnumerable<Form.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        <td>@Html.DisplayNameFor(x=>x.Name)</td>
        <td>@Html.DisplayNameFor(x => x.Id)</td>
        <td>@Html.DisplayNameFor(x => x.Department)</td>
        <td>Action</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Id</td>
            <td>@item.Department</td>
            <td>@Html.ActionLink("Edit","Edit",new { id = item.Id })</td>
        </tr>
    }
</table>